@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* use roboto font whole website  */
html,
body {
  font-family: "Roboto", sans-serif;
}

.bg-hero {
  background-image: url("./assets/Frame-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
